{% layout 'layout.liquid' %}
{% block content %}

  <div class="container-sm">
    <form action="/users/login" method="POST">
      <fieldset>
        <legend>Welcome back, please log in and let's get fish'n</legend>
        <label class="form-label">Username:
        </label>
        <input class="form-control" name="username" type="text" placeholder="username" required>
        <label class="form-label">Password:
        </label>
        <input class="form-control" name="password" type="password" placeholder="enter password" required>
      </fieldset>
      <input class="btn btn-outline-success" type="submit" value="Log In">
    </form>
  </div>

{% endblock %}}}}