{% layout 'layout.liquid' %}
{% block content %}

  <div class="container-sm">
    <form action="/users/signup" method="POST">
      <fieldset>
        <legend>Sign Up New User</legend>
        <label class="form-label">Username:
        </label>
        <input class="form-control" type="text" name="username" placeholder="username" required>
        <label class="form-label">Password:
        </label>
        <input class="form-control" type="password" name="password" placeholder="enter password" required>
      </fieldset>
      <input class="btn btn-outline-success" type="submit" value="Create Account">
    </form>
  </div>

{% endblock %}}}}}}