{% layout "layout.liquid" %}
{% block content %}

  <h1>All the fish!</h1>
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
      <div class="row">
        {% for forecast in weather %}
          <div class="card col-12">
            <h5 class="card-header">{{ forecast.Date }}
            </h5>
            <div class="card-body">
              <h5 class="card-title">
                Weather:
                {{ forecast.Day.IconPhrase }}
              </h5>
              <p class="card-text">
                Temperature:
                {{ forecast.Temperature.Maximum.Value }}
              </p>
              <p class="card-text">
                Amount Caught:
                {{ fish.amount }}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}}