{% layout 'layout.liquid' %}
{% block content %}
  <h1 class="display-4">Welcome To The Fish App!</h1>
  <p>This app allows you to guide the best fish to catch as well as add your own!</p>
  <div class="btn-group btn-group-lg">
    <a href="/users/signup" class="btn btn-success">Sign Up</a>
    <a href="/users/login" class="btn btn-success">Login</a>
  </div>
{% endblock %}}}}}